$branco: #FFFFFF;
$branco-escuro: #F9F9F9;
$cinza: #798196;
$cinza-claro: #E6E6E6;
$placeholder: #CCCCCC;
$amarelo: #FAB81F;
$azul: #23A4D0;
$azul-escuro: #1D2B4F;

body{
    font-family: 'Roleway', sans-serif;
}
